<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam Slot Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts.js" defer></script>

    <style>
        .container {
            text-align: center;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 1200px;
            width: 100%;
        }
        .submit {
            margin-top: 20px;
        }
        .display {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .container {
            margin-bottom: 90px;
        }
        .feedback{
            color: #a82e2e;
        }

        .hidden { display: none; }

    </style>

</head>

<body class="d-flex flex-column h-100">

<header th:insert="fragments/header :: header"></header>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <span class="notification"> </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<main class="flex-shrink-0">

    <section class="py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <header class="display-4" th:text="'Exam Slot Requests for ' + ${courseName}"> Exam Slots </header>
                </div>
            </div>

        </div>
        <div class="container px-5 my-5 lead fw-normal mb-0">
            <div class="row gx-5 display">
                <div th:if="${#lists.isEmpty(examRequests)}">
                    <p class="lead fw-bolder mb-0"> No exam slot requests have been made </p>
                </div>
                <div th:if="${ not #lists.isEmpty(examRequests) }" style="margin: 40px">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Preference</th>
<!--                            <th>Exam Code</th>-->
                            <th>Exam Duration</th>
                            <th>Exam Starting Time</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="request" th:each="examSlotRequest: ${examRequests}">
                            <td class="preference" th:text="${examSlotRequest.getPreferenceStatus()}"></td>
<!--                            <td th:text="${examSlotRequest.getExamCode()}"></td>-->
                            <td th:text="${examSlotRequest.getExamDuration()}"> </td>
                            <td th:text="${examSlotRequest.getExamDate()}"> </td>
                            <td th:text="${examSlotRequest.getStatus()}"> </td>
                            <td><button class="delete-request btn-danger"> Delete Request </button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 container">
        <div class="fw-bolder lead mb-0"> Current Date:
            <span class="current-date"> </span>
        </div>
        <div style="margin: 5px" class="lead fw-bold mb-0">
            Editing Period: <span class="startDate" th:text="${interval.getStartTime()}"> </span> -
            <span class="endDate" style="margin: 5px" th:text="${interval.getEndTime()}"> </span>
        </div>
    </section>

    <div class="container">
        <h2 th:if="${ not #lists.isEmpty(examRequests)}"> Edit or Create Exam Slots </h2>

        <h2 th:if="${#lists.isEmpty(examRequests)}"> Create Exam Slots </h2>

        <p class="outside-interval-message lead fw-bolder mb-0" style="margin: 20px">  </p>

        <form class="form-container">
            <table class="table">
<!--                <tr>-->
<!--                    <td>Enter exam code:</td>-->
<!--                    <td><input type="text" class="form-control code" name="code"></td>-->
<!--                </tr>-->
                <tr>
                    <td>Enter exam duration (hours):</td>
                    <td><input type="text" class="form-control duration" name="duration" required></td>
                </tr>
                <tr>
                    <td>Enter preference 1:</td>
                    <td><label for="examDate1">Exam Date (yyyy-MM-ddTHH:mm):</label>
                        <input type="datetime-local" id="examDate1" name="p1" ></td>
                </tr>
                <tr>
                    <td>Enter preference 2:</td>
                    <td><label for="examDate2">Exam Date (yyyy-MM-ddTHH:mm):</label>
                        <input type="datetime-local" id="examDate2" name="p2" ></td>
                </tr>
                <tr>
                    <td>Enter preference 3:</td>
                    <td><label for="examDate3">Exam Date (yyyy-MM-ddTHH:mm):</label>
                        <input type="datetime-local" id="examDate3" name="p3"></td>
                </tr>
            </table>
            <div class="submit">
                <button type="submit" class="btn btn-dark">Submit Requests</button>
            </div>
        </form>

        <div class="feedback lead fw-normal mb-0"></div>


    </div>
    <header th:insert="fragments/footer :: footer"></header>
</main>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", (e) => {

        const startDate = new Date(document.querySelector('.startDate').innerText);
        const endDate = new Date(document.querySelector('.endDate').innerText);


        function checkTime() {
            let i;
            const currentDate = new Date();

            const dateContainer = document.querySelector(".current-date");
            dateContainer.innerText = currentDate;
            let deleteButtons = document.getElementsByClassName('delete-request');
            // Check if the current date is within the interval
            if (currentDate >= startDate && currentDate <= endDate) {
                document.querySelector('.form-container').classList.remove('hidden');
                document.querySelector('.outside-interval-message').classList.add('hidden');
                document.querySelector('.alert').classList.add('hidden');
                for(i = 0; i < deleteButtons.length; i++){
                    deleteButtons[i].classList.remove('hidden');
                }
            } else {
                if(currentDate > endDate){
                    document.querySelector('.notification').innerHTML = "The editing period has passed, your requests have been finalized";
                    document.querySelector('.alert').classList.remove('hidden');
                    document.querySelector('.outside-interval-message').innerHTML = "You cannot edit/create exam slots anymore, the editing period has passed";
                } else if (currentDate < startDate){
                    document.querySelector('.alert').classList.add('hidden');
                    document.querySelector('.outside-interval-message').innerHTML = "The editing period hasn't started, you cannot edit/create exam slots";
                }
                document.querySelector('.form-container').classList.add('hidden');
                document.querySelector('.outside-interval-message').classList.remove('hidden');
                for(i = 0; i < deleteButtons.length; i++){
                    deleteButtons[i].classList.add('hidden');
                }


            }
        }

        // Call the function on page load
        checkTime();
        setInterval(checkTime, 1000); // Check every minute

        let requestContainer = Array.from(document.getElementsByClassName("request"));
        requestContainer.forEach(element => {
            let deleteButton = element.querySelector(".delete-request");
            deleteButton.addEventListener("click", async (e) => {
                e.preventDefault();
                if (confirm("Are you sure you want to delete this request?")) {
                    let preference = element.querySelector(".preference").innerText;
                    let courseName = '[[${courseName}]]';
                    try {
                        const response = await fetch(`/instructor/examslots/delete/${courseName.replace(/['"]+/g, '')}/${preference}`, {
                            method: "DELETE"
                        });
                        if (!response.ok) {
                            throw new Error(await response.text());
                        }
                        location.href = `/instructor/examslots/${courseName.replace(/['"]+/g, '')}`;
                        document.querySelector(".feedback").innerText = "Request Successfully deleted";
                    } catch (err) {
                        document.querySelector(".feedback").innerText = err.message.split("at ca.cmpt276.examharmony")[0];
                    }
                }
            });
        });



    });

    document.querySelector(".form-container").addEventListener("submit", async (e) => {
        e.preventDefault();
        let instructorName = '[[${instructor.getUsername()}]]';
        // const examCode = document.querySelector('.code').value;
        const examDuration = document.querySelector('.duration').value;
        const preference1 = document.querySelector('#examDate1').value;
        const preference2 = document.querySelector('#examDate2').value;
        const preference3 = document.querySelector('#examDate3').value;
        const courseName = '[[${courseName}]]';
        const preferences = [];
        if (preference1) {
            preferences.push({preferenceStatus: 1, /*examCode: examCode,*/ examDuration: examDuration, examDate: preference1, courseName: courseName,
                instructorName: instructorName.replace(/["']/g, '')});
        }
        if (preference2) {
            preferences.push({preferenceStatus: 2,/*examCode: examCode,*/ examDuration: examDuration, examDate: preference2, courseName: courseName,
                instructorName: instructorName.replace(/["']/g, '')});
        }
        if (preference3) {
            preferences.push({preferenceStatus: 3, /*examCode: examCode,*/ examDuration: examDuration, examDate: preference3, courseName: courseName,
                instructorName: instructorName.replace(/["']/g, '')});
        }
        console.log(preferences);

        try {
            if(typeof examDuration !== 'number'){
                throw new Error("Exam duration must be a number");
            }
            const response = await fetch(`/instructor/examslots/edit/${courseName.replace(/['"]+/g, '')}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(preferences)
            });
            if (!response.ok) {
                const errorData = await response.json();
                const errorMessage = errorData.trace;
                throw new Error(errorMessage);
            } else {
                location.href = `/instructor/examslots/${courseName.replace(/['"]+/g, '')}`;
                document.querySelector(".feedback").innerText = "Requests Successfully sent";
            }
        } catch (err) {
            document.querySelector(".feedback").innerText = err.message.split("at ca.cmpt276.examharmony")[0];
        }
    });
</script>
</body>
</html>