<!DOCTYPE html>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button type="button" class="btn navbar-brand" onclick="goHome()">ExamHarmony</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn nav-link" onclick="goHome()">Home</button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item" onclick="changePassword()">Change Password</button>
                        <div class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle">Change View</a>
                            <div class="dropdown-menu">
                                <div th:if="${#authentication}">
                                    <ul class="p-0 m-0">
                                        <li class="dropdown-item p-0 m-0 text-center" th:each="auth : ${#authentication.authorities}">
                                            <a th:href="@{/admin/home}" class="dropdown-item p-0 m-0" th:if="${auth.authority=='ROLE_ADMIN'}" th:text='Admin'></a>
                                            <a th:href="@{/instructor/home}" class="dropdown-item p-0 m-0" th:if="${auth.authority=='ROLE_INSTRUCTOR'}" th:text='Instructor'></a>
                                            <a th:href="@{/invigilator/home}" class="dropdown-item p-0 m-0" th:if="${auth.authority=='ROLE_INVIGILATOR'}" th:text='Invigilator'></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="logout()">Log out</button>
                    </div>
                </li>
            </ul>

            <div style="margin-left: 5px">
                <a href="https://github.com/JohnnyDeng6/ExamHarmony/tree/main">View the Project</a>
            </div>
        </div>
    </nav>
</header>
</body>