/*for header fragment*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>.dropdown-menu {
    display: none;
}

/*for footer fragment*/
.footer {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1rem;
}

.min-vh-100 {
    min-height: 100vh;
}