<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ExamSlot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mt-5 mb-4">Update Exam Slot</h1>
                <form action="/examSlot/update" method="post">

                    <input type="hidden" id="id" name="id" th:value="${examSlot.id}">

                    <label for="courseName">Course Name:</label><br>
                    <input type="text" id="courseName" name="courseName" th:value="${examSlot.CourseID.courseName}"><br>
                    
                    <label for="startTime">StartTime:</label><br>
                    <input type="text" id="startTime" name="startTime" th:value="${examSlot.startTime}"><br>
                    
                    <label for="duration">Duration:</label><br>
                    <input type="number" id="duration" name="duration" th:value="${examSlot.duration}"><br>
                    
                    <label for="numOfRooms">Number Of Rooms:</label><br>
                    <input type="number" id="numOfRooms" name="numOfRooms" th:value="${examSlot.numOfRooms}"><br>
                    
                    <label for="assignedRooms">Assigned Rooms:</label><br>
                    <input type="number" id="assignedRooms" name="assignedRooms" th:value="${examSlot.assignedRooms}"><br>

                    <label for="numInvigilator">Number Of Invigilators:</label><br>
                    <input type="number" id="numInvigilator" name="numInvigilator" th:value="${examSlot.numInvigilator}"><br>
                    
                    <label for="status">Status:</label><br>
                    <select id="status" name="status" class="form-control form-control-lg">
                        <option value="" disabled selected>Status</option>
                        <option value="pending">Pending</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                    
                    <button type="submit" style="margin: 30px">Update ExamSlot</button>
                </form>
            </div>
        </div>
    </div>
</body>