<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam Slot Requests </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #add8e6;
        }
        .container {
            text-align: center;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 1200px;
            width: 100%;
        }
        header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .submit {
            margin-top: 20px;
        }
    </style>
</head>


<body>
<div class="container">
    <header class="display-4" th:text="'Exam Slot Requests for ' + ${courseName}"></header>

    <div class="topnav">
        <button class="log-out-button btn btn-primary">Log out</button>
        <button class="home-button btn btn-primary"> Homepage</button>
    </div>

        <div th:if="${ not #lists.isEmpty(examRequests) }" style="margin: 40px">
            <table class="table">

                <thead class="thead-dark">

                    <tr>
                        <th>
                            Preference
                        </th>
                        <th>
                            Exam Code
                        </th>
                        <th>
                            Exam Duration
                        </th>
                        <th>
                            Exam Starting Time
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>

                </thead>
                <tbody>

                    <tr class="request" th:each="examRequest: ${examRequests}">
                        <td class="preference" th:text="${examRequest.getPreferenceStatus()}"></td>
                        <td th:text="${examRequest.getExamCode()}"></td>
                        <td th:text="${examRequest.getExamDuration()}"> </td>
                        <td th:text="${examRequest.getExamDate()}"> </td>
                        <td th:text="${examRequest.getStatus()}"> </td>
                        <td class="delete-button"> <button class="btn-danger"> Delete Request </button> </td>
                    </tr>

                </tbody>

            </table>

            <div> Edit or Create Exam Slots </div>
        </div>
        <div th:if="${#lists.isEmpty(examRequests)}"> Create Exam Slots </div>

        <form class="form-container">
            <table class="table">
                <tr>
                    <td>Enter exam code:</td>
                    <td><input type="text" class="form-control code" name="code"></td>
                </tr>
                <tr>
                    <td>Enter exam duration:</td>
                    <td><input type="text" class="form-control duration" name="duration"></td>
                </tr>
                <tr>
                    <td>Enter preference 1:</td>
                    <td><input type="text" class="form-control p1" name="p1"></td>
                </tr>
                <tr>
                    <td>Enter preference 2:</td>
                    <td><input type="text" class="form-control p2" name="p2"></td>
                </tr>
                <tr>
                    <td>Enter preference 3:</td>
                    <td><input type="text" class="form-control p3" name="p3"></td>
                </tr>
            </table>
            <div> Enter dates in the form "yyyy-MM-dd HH:mm". Ex: 2024-04-15 14:30 </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="feedback"> </div>

</div>
</body>

<script th:inline="javascript">

    let logout = document.querySelector(".log-out-button");
    let form = document.querySelector(".form-container");
    let displayContainer = document.querySelector(".table");
    let requestContainer = Array.from(document.getElementsByClassName("request"));
    let homeButton = document.querySelector(".home-button");

    homeButton.addEventListener("click", async ()=>{
        if(confirm("Any exam slot requests not yet submitted will be deleted")){
            try{
                const response = await fetch("/instructor/home");
                if(!response.ok){
                    throw new Error("Error: Could not go back to homepage");
                }
                let pageContent = await response.text();
                const ExamRequestDisplayPage = window.open(`/instructor/home`, "_self");
                ExamRequestDisplayPage.document.body.innerHTML = pageContent;

            } catch (err){
                try{
                    const response = await fetch("/logout");
                    if(!response.ok){
                        throw new Error("Error: Could not log out");
                    }
                    window.location.reload();
                } catch (err){
                    console.log(err);
                }
            }
        }
    })

    logout.addEventListener("click", async ()=>{
        if(confirm("Are you sure you want to log out?")){
            try{
                const response = await fetch("/logout");
                if(!response.ok){
                    throw new Error("Error: Could not log out");
                }
                window.location.reload();
            } catch (err){
                console.log(err);
            }
        }
    });

    form.addEventListener("submit", async ()=>{

        const examCode = document.querySelector('.code').value;
        const examDuration = document.querySelector('.duration').value;
        const preference1 = document.querySelector('.p1').value;
        const preference2 = document.querySelector('.p2').value;
        const preference3 = document.querySelector('.p3').value;
        const courseName = '[[${courseName}]]';
        const preferences = [];

        if(preference1){
            preferences.push({preferenceStatus: 0, examCode: examCode, examDuration: examDuration, examDate: preference1});
        }
        if(preference2){
            preferences.push({preferenceStatus: 0, examCode: examCode, examDuration: examDuration, examDate: preference2});
        }
        if(preference3){
            preferences.push({preferenceStatus: 0, examCode: examCode, examDuration: examDuration, examDate: preference3});
        }
        console.log(JSON.stringify(preferences));
        let preferenceStatus = 1;
        preferences.forEach(element=>{
            element.preferenceStatus = preferenceStatus;
            preferenceStatus++;
        });
        console.log(preferences);
        try{
            const response = await fetch(`/instructor/examslots/edit/${courseName.replace(/['"]+/g, '')}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(preferences)
            });
            if(!response.ok){
                throw new Error(`HTTP Status ${response.status}`);
            } else {
                let pageContent = await response.text();
                const ExamRequestDisplayPage = window.open(`/instructor/examslots/${courseName.replace(/['"]+/g, '')}`, "_self");
                ExamRequestDisplayPage.document.body.innerHTML = pageContent;
                window.location.reload();

                document.querySelector(".feedback").innerText = "Requests Successfully sent";
            }

        } catch (err){
            document.querySelector(".feedback").innerText = err;
        }

    });

    displayContainer.addEventListener("DOMContentLoaded", ()=>{
        requestContainer.forEach(element=>element.addEventListener("click", async ()=> {
            if(confirm("Are you sure you want to delete this request?")){
                let preference = element.querySelector(".preference").value;
                let courseName = '[[${courseName}]]';
                try{
                    const response = await fetch(`instructor/examslots/delete/${courseName.replace(/['"]+/g, '')}/${preference}`);
                    if(!response.ok){
                        throw new Error("Error: " + await response.text());
                    }
                    window.location.reload();
                    document.querySelector(".feedback").innerText = "Request Successfully deleted";
                } catch (err){
                    document.querySelector(".feedback").innerText = err;
                }
            }
        }));
    });

</script>

</html>